<!-- Button trigger modal -->
<button type="button" id="btn-delete" style="display: none" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteModal">
    Delete
</button>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="col-lg-3">
                <label>Are you sure you want to delete following product?</label>
              </div>
              <div class="col-lg-9">
                  <div class="form-group">
                    <input id="deleteId" disabled="disabled" class="form-control"/>
                  </div>
                  <div class="form-group">
                      <input id="deleteName" disabled="disabled" class="form-control"/>
                  </div>
              </div>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</a>
                <a onclick="DeleteConfirmed(); return false;" type="button" class="btn btn-primary">Delete</a>
            </div>
        </div>
    </div>
</div>